@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<div class=" container p-4">
    <div class="row p-3">
         <div class="col-6">
            <h2 class="text-primary"></h2>Categories</h2>
         </div>
         <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Category"> <i class="bi bi-plus-circle"></i> Create new Category</a>
         </div>
    </div>
</div>

<h1>List of Categories</h1>
<table class=" table table-bordered table-striped" style=" width:100%">
    <thead>
        <tr>
            <th>
                Category name
            </th>
            <th>
                Display order
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            { 
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.DisplayOrder
            </td>
            <td role="group">               
                <a class="btn btn-primary"  asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i>Edit</a>
                <a class="btn btn-primary" asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id"> <i class="bi bi-trash"></i>Delete</a>
            </td>
        </tr>
            }
    </tbody>


</table>